<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %> <%= tparam %></title>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%=htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
    
  </head>
  <body>
    <%= require('html-loader!./partial.html') %>

    <%for(var k in htmlWebpackPlugin.files.chunks){%>
      <%if(k!='main'){%>
        <script src="<%=htmlWebpackPlugin.files.chunks[k].entry%>" type="text/javascript"></script>
      <%}%>
    <%}%>
    <!-- 遍历htmlWebpackPlugin中的key -->
    <% for (var key in htmlWebpackPlugin) { %>
      <%=key %> 
    <% } %>
    -----------------------
    <% for (var key in htmlWebpackPlugin.files) { %>
      <%=key %> :  <%= JSON.stringify(htmlWebpackPlugin.files[key]) %> 
    <% } %>
    -----------------------
    <% for (var key in htmlWebpackPlugin.options) { %>
      <%=key %> :  <%= JSON.stringify(htmlWebpackPlugin.options[key]) %> 
    <% } %>
  </body>
</html>